@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 28px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: blue !important;
    border: none;
    outline: none;
    background: transparent;
}

.slick-next:before {
    font-family: 'slick';
    font-size: 30px !important;
    line-height: 1;
    width: 28px;
    height: 20px;
    opacity: .75;
    color: #007bff !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    font-family: 'slick';
    font-size: 30px !important;
    line-height: 1;
    width: 30px !important;
 
    color: #007bff !important;
   
}


element.style {
    outline: none;
    width: 338px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-container {
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}